@model List<EnderecoModel>
@{
	ViewData["Title"] = "Endereço";
}

<div class="text-center">
	<div class="d-grid gap-2 d-md-flex justify-content-md-start">
		<a class="btn btn-primary" role="button" asp-controller="Endereco" asp-action="Criar">Adicionar Novo Endereço</a>
	</div>


	<h1 class="display-4">Listagem de Endereços</h1>


	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Endereço</th>
				<th scope="col">Número</th>
				<th scope="col">Complemento</th>
				<th scope="col">Bairro</th>
				<th scope="col">Cidade</th>
				<th scope="col">Estado</th>
				<th scope="col">CEP</th>
			</tr>
		</thead>
		<tbody>
			@if (Model != null && Model.Any())
			{
			@foreach (var endereco in Model)
			{
				<tr>
					<th scope="row">@endereco.Id</th>
					<td>@endereco.Endereco</td>
					<td>@endereco.Numero</td>
					<td>@endereco.Complemento</td>
					<td>@endereco.Bairro</td>
					<td>@endereco.Cidade</td>
					<td>@endereco.Estado</td>
					<td>@endereco.Cep</td>
					<td>
						<a class="btn btn-sm btn-primary" role="button" asp-controller="Endereco" asp-action="Editar" asp-route-id="@endereco.Id">Editar</a>
						<a class="btn btn-sm btn-danger" role="button" asp-controller="Endereco" asp-action="Excluir" asp-route-id="@endereco.Id">Excluir</a>
					</td>
				</tr>
			}
			}
	</table>
</div>